
<div class="container">
  <h1 class="mt-5 text-center"> Bienvenido al Trabajo Practico Numero 1 , Laboratorio 4</h1>
  <br/>

  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th scope="col">Id</th>
        <th scope="col">Empresa</th>
        <th scope="col">Ver Pagina</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td scope="row">1</td>
        <td> XXXXXXXX </td>
        <td> <a href="home.html?id=1">URL PAGINA HOME</a> </td>
      </tr>
    </tbody>
  </table>